$font-color:rgb(242, 242, 242);
$grass-color:rgb(0, 128, 43);
$poison-color:rgb(153, 0, 153);
$fire-color:rgb(255, 71, 26);
$flying-color:rgb(153, 153, 255);
$water-color:rgb(0, 153, 255);
$bug-color:rgb(163, 163, 117);
$normal-color:rgb(102, 153, 0);
$electric-color:rgb(255, 255, 102);
$ground-color:rgb(77, 38, 0);
$fighting-color:rgb(0, 204, 136);
$psychic-color:rgb(153, 255, 51);
$rock-color:rgb(224, 224, 209);
$ice-color:rgb(153, 255, 255);
$ghost-color:rgb(230, 230, 230);
$dragon-color:rgb(0, 102, 0);