$font-color: rgb(242, 242, 242);

.grass-force {
    background: 'rgb(0, 128, 43)';
    color: $font-color;
}

.poison-force {
    background: 'rgb(153, 0, 153)';
    color: $font-color;
}

.fire-force {
    background: 'rgb(255, 71, 26)';
    color: $font-color;
}

.flying-force {
    background: 'rgb(153, 153, 255)';
    color: 'rgb(242, 242, 242)';
}

.water-force {
    background: 'rgb(0, 153, 255)';
    color: $font-color;
}

.bug-force {
    background: 'rgb(163, 163, 117)';
    color: $font-color;
}

.normal-force {
    background: 'rgb(102, 153, 0)';
    color: $font-color;
}

.electric-force {
    background: 'rgb(197, 197, 116)';
    color: $font-color;
}

.ground-force {
    background: 'rgb(77, 38, 0)';
    color: $font-color;
}

.fighting-force {
    background: 'rgb(0, 204, 136)';
    color: $font-color;
}

.psychic-force {
    background: 'rgb(163, 218, 108)';
    color: $font-color;
}

.rock-force {
    background: 'rgb(153, 153, 147)';
    color: $font-color;
}

.ice-force {
    background: 'rgb(96, 202, 202)';
    color: $font-color;
}

.ghost-force {
    background: 'rgb(230, 230, 230)';
    color: $font-color;
}

.dragon-force {
    background: 'rgb(0, 102, 0)';
    color: $font-color;
}